.form {
    
}

.input-field {
    padding: 3px 0;
    color: #008FF7;
    width: 260px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(85, 102, 119, 0.3);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.2s;
    display: block;
}

.input-field:focus {
    border-bottom: 1px solid #008FF7;
}

.button-gray, .button-blue {
    padding: 0 20px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 260px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.2s;
}

.button-gray {
    background: #EDF0F3;
    color: #008FF7;
}

.button-blue {
    background: #008FF7;
    color: #fff;
}

.button-gray:hover {
    background: #008FF7;
    color: #fff;
}

.button-blue:hover {
    background: #fff;
    color: #008FF7;
}

.user-avatar {
    width: 32px;
    height: 32px;
    background-color: #008FF7;
    color: #fff;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sidebar {
    border-right: 1px #ededed solid;
    height: calc(100vh - 60px);
}

.sidebar-title {
    color: #333333;
    font-size: 24px;
    font-weight: 900;
    margin: 25px 0;
    padding: 0 20px;
}

.modal-title {
    margin-top: 22px;
    margin-bottom: 20px;
    color: #333333;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}

.modal-text {
    color: #667788;
    font-size: 14;
}

.dialog-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.dialog-wrap {
    width: 100%;
    position: relative;
    display: flex;
    flex: 1;
}

.dialog {
    height: max-content;
    max-height: 100%;
    display: block;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: height .2s;
}

.dialog-empty {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: max-content;
    max-height: max-content;
    transform: translateY(-50%);
}

.dialog-empty p {
    margin-top: 10px;
    color: #999999;
}

.message {
    padding: 8px 0;
    display: flex;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
    position: relative;
}

.message .select-indicator {
    width: 18px;
    position: absolute;
    top: 6px;
    right: 14px;
    height: 18px;
    border: 2px solid #CCD1D6;
    background-color: #fff;
    z-index: 1;
    border-radius: 50px;
}

.message .select-indicator.active {
    width: 18px;
    height: 18px;
    border: none;
    background-color: #008FF7;
}

.message.selected {
    background-color: #EFF4F8;
}

.message-status {
    align-items: flex-end;
    display: flex;
}

.message-status svg {
    font-size: 16px;
    margin-bottom: 3px;
}

.message-status .error {
    cursor: pointer;
}

.history-date {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 4px 0;
    background-color: #EFF4F8;
    font-size: 12px;
    color: #667788;
}

.message .user-avatar {
    margin-right: 14px;
}


/* .message {
    padding-left: 20px;
} */

.message .user-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #008FF7;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.message .time-at {
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    margin-left: 6px;
    margin-top: 2px;
}

.message .message-text {
    font-size: 14px;
    color: #667788;
    margin: 0;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.message .message-images {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    margin-top: 1px;
}

.message .message-images img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    background-color: #EFF4F8;
}

.message .message-images .image {
    padding: 5px;
}

.message .message-images .image-blur {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.message .message-images .image-blur span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    color: #fff;
    z-index: 1;
    font-weight: 600;
    font-size: 20px;
}

.message .message-images .image-blur img {
    filter: blur(3px) brightness(0.3);
}

.message-files {
    max-width: 100%;
    display: flex;
    margin-left: -4px;
}

.message-file {
    display: flex;
    display: 0 1;
}

.message-file .file-icon {
    font-size: 32px;
}

.message-file .download-icon {
    opacity: 0;
    display: flex;
    align-self: center;
    transition: opacity .1s;
}

.message-file:hover .download-icon {
    opacity: 1;
}

.message-file-info {
    display: flex;
    flex-wrap: wrap;
    padding-left: 6px;
}

.message-file-name {
    display: flex;
    color: #008FF7;
    font-size: 14px;
    width: 100%;
    margin: 0;
    line-height: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.message-file-size {
    display: flex;
    color: #667788;
    font-size: 14px;
    width: 100%;
    margin: 0;
    line-height: 14px;
}

.message-sounds {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.message-sound {
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 10px;
    margin-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 5px;
    padding-right: 15px;
}

.message-sound .play {
    display: flex;
}

.message-sound .pause {
    display: none;
}

.message-sound.active {
    background-color: #EFF4F8;
}

.message-sound.active .play {
    display: none;
}

.message-sound.active .pause {
    display: flex;
}

.message-sound.active .message-sound-range {
    display: block;
}

.message-sound .message-sounds-name {
    max-width: 100%;
    font-size: 14px;
    color: #667788;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.message-sound .message-sound-range {
    position: absolute;
    height: 3px;
    bottom: 0;
    background-color: #99d2fc;
    width: 100%;
    display: none;
}

.message-sound .message-sound-range:hover {
    position: absolute;
    height: 8px;
    background-color: #99d2fc;
    width: 100%;
}

.message-sound .message-sound-range .range-position {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: #008FF7;
}

.message-sound .message-sounds-duration {
    max-width: 100%;
    font-size: 12px;
    color: #999999;
    margin: 0;
    line-height: 24px;
    display: inline-block;
}

.message-sound-info {
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.message .message-recent {
    border-left: 2px solid #008FF7;
}

.dialog-attachment {
    border-top: 1px #ededed solid;
    background-color: #fff;
    width: 100%;
    min-height: 60px;
    max-height: 180px;
    z-index: 3;
    height: max-content;
    display: flex;
    align-items: flex-end;
    position: relative;
    flex-wrap: wrap;
}

.dialog-typers {
    display: flex;
    width: 100%;
    padding: 12px 0;
    z-index: 3;
    height: max-content;
    background-color: #fff;
}

.dialog-typers p {
    color: #99AABB;
    font-size: 12px;
    margin: 0;
    margin-left: 60px;
    padding: 0;
}

.dialog-typers .typing:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 20px;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 20px;    
    }
  }

.message-attachment {
    display: flex;
    width: 100%;
}

.message-attachment .message-recent {
    border-left: 2px solid #008FF7;
    margin: 6px 0;
    padding: 6px 0 5px 6px;
}

.message-attachment .message-recent .user-name {
    display: flex;
    color: #008FF7;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.message-attachment .message-recent .time-at {
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    margin-left: 6px;
    margin-top: 2px;
}

.message-attachment .message-recent .message-text {
    font-size: 14px;
    color: #667788;
    margin: 0;
}

.image-attachment {
    height: 100%;
    display: flex;
    width: 100%;
    padding: 0 6px;
    height: max-content;
    flex-wrap: wrap;
}

.image-attachment .image-container {
    padding: 6px 0;
    display: inline-block;
    position: relative;
}

.image-attachment .image-container img {
    border-radius: 5px;
    height: 60px;
}

.sound-attachment {
    height: 100%;
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
}

.sound-attachment .sound-container {
    display: flex;
    position: relative;
    width: 50%;
    align-items: center;
}

.sound-attachment .sound-container .sound-attachment-name {
    color: #667788;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 8px;
}

.sound-attachment .sound-container .btn-cancel-select{
    min-width: 60px!important;
}

.dialog-input {
    border-top: 1px #ededed solid;
    width: 100%;
    background-color: #fff;
    min-height: 60px;
    max-height: 180px;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 3;
}

.dialog-input .input-message {
    padding: 19px 0;
    font-size: 14px;
    color: #008FF7;
    max-height: 60px;
    resize: none;
    border: none;
    min-height: 60px;
}

.dialog-input .placeholder {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    color: #008FF7;
    left: 60px;
    pointer-events: none;
}

.unread-messages-count {
    position: absolute;
    width: max-content;
    min-width: 20px;
    padding: 0 5px;
    height: 20px;
    color: #fff;
    background-color: #008FF7;
    top: -10px;
    line-height: 20px;
    border-radius: 50px;
    text-align: center;
}

.btn-add-files, .btn-send-message, .back-btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    color: #008FF7!important;
    min-width: unset!important;
    margin: 7.5px!important;
}

.btn-delete-image {
    position: absolute;
    right: 2px;
    top: 6px;
    background-color: #556676;
    width: 15px;
    height: 15px;
    display: block;
    cursor: pointer;
    transition: all .2s;
}

.btn-delete-image:hover {
    background-color: #008FF7;
}

.btn-delete-image svg {
    font-size: 15px;
    position: absolute;
}

.scroll-to-bottom.active {
    transform: translateY(0)!important;
    transition: transform 100ms ease-in!important;
}


.scroll-to-bottom {
    transform: translateY(70px)!important;
    transition: transform 100ms ease-in!important;
}

.btn-send-message-enter svg {
    transform: scale(0);
}

.btn-send-message-enter.btn-send-message-enter-active svg {
    transform: scale(1);
    transition: transform 100ms ease-in;
}

.btn-send-message-leave svg {
    transform: scale(1);
}

.btn-send-message-leave.btn-send-message-leave-active svg {
    transform: scale(0);
    transition: transform 100ms ease-in;
}

.message-status-transition-enter svg {
    transform: scale(0);
}

.message-status-transition-enter.message-status-transition-enter-active {
    transform: scale(1);
    transition: transform 100ms ease-in;
}

.message-status-transition-leave {
    transform: scale(1);
}

.message-status-transition-leave.message-status-transition-leave-active {
    transform: scale(0);
    transition: transform 1ms ease-in;
}

.btn-reply, .btn-forward, .btn-edit-message, .btn-delete-message, .btn-cancel-select {
    width: max-content;
    min-width: 10px;
    padding: 0 12px!important;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #008FF7!important;
    font-weight: 600!important;
    font-size: 16px!important;
    border-radius: 0!important;
    text-transform: none!important;
    min-width: unset!important;
}

.btn-edit-message, .btn-delete-message, .btn-cancel-select {
    padding: 0 10px;
    border-radius: 0!important;
}

.btn-cancel-select {
    width: 60px!important;
}

.scroll .track-vertical {
    width: 7px;
    background-color: #ededed;
    position: absolute;
    right: 0;
    height: 100%;
    transition: all .2s;
    padding: 0 2px;
}

.scroll .track-vertical:hover {
    width: 12px;
    background-color: #ededed;
    padding: 0 2.5px;
}

.scroll .track-vertical:hover .thumb-vertical {
    width: 7px;
}

.scroll .thumb-vertical {
    transition: width .2s;
    width: 3px;
    background-color: #999;
}

.action-menu-container {
    display: none;
    position: fixed;
    width: max-content;
    height: max-content;
    z-index: 4;
    padding-bottom: 10px;
    transform: translateY(-100%) translateX(-100%);
}

.action-menu {
    width: max-content;
    height: max-content;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    background-color: #fff;
    display: flex;
    overflow: hidden;
    padding: 8px 0;
}

.action-menu-container:hover {
    display: block;
}

.action-menu-container button {
    height: 32px!important;
    border-radius: 0!important;
    text-align: left!important;
    display: flex;
    width: 100%;
    text-transform: unset!important;
    color: #008FF7!important;
    letter-spacing: unset!important;
}

.action-menu-container button .MuiButton-label {
    justify-content: flex-start!important;
    padding-left: 16px;
}

.action-menu-container.active {
    display: block;
}

.dialog-loading {
    width: 100%;
}

.dialog-loading .MuiLinearProgress-bar {
    background-color: #008FF7!important;
}