# Environment variables.
# Copy this file to `.env` and enter your personal configuration details.

# Stripe API keys: use your test keys for development and live keys for real charges in production
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_API_VERSION=

# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-character string of characters, e.g. 'oj2130sdjk120asdim2u2'
JWT_SECRET=!@#$%^&*()_+=-{HEVACHAT}]boilerplate[;";/?<>.,

# MongoDB settings
DB_HOST=localhost
DB_DATABASE=hevachat

# Server settings
PORT=8000
API_URL=http://localhost:8000
CLIENT_URL=http://localhost:3000
MODE=development

# Mailjet settings
MJ_APIKEY_PUBLIC=
MJ_APIKEY_PRIVATE=

# Other services