.room-item {
    padding: 10px 20px!important;
    display: flex!important;
    cursor: pointer;
    width: 100%!important;
    text-transform: unset!important;
    justify-content: unset!important;
    color: #008FF7!important;
    border-radius: 0!important;
}

.room-item .user-avatar {
    display: flex;
}

.room-item p {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    color: #008FF7;
    margin: 0 0 0 12px;
    line-height: 22px;
}

.room-item .users {
    display: flex;
    margin-left: 12px;
}

.room-item .users .user-avatar {
    margin-right: 2px;
}

.theme-header {
    height: 60px;
    border-bottom: 1px #ededed solid;
    display: flex;
}

.theme-sidebar {
    height: calc(100vh - 60px);
    display: flex;
    width: 100%;
}

.theme-screen {
    height: 100vh;
    background-color: #556677;
}

.theme-info {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.theme-title {
    display: flex;
    font-size: 16px;
    color: #008FF7;
    margin: 0;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
}

.theme-online-counter {
    width: 100%;
    color: #99AABB;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}