.user-header {
    height: 60px;
    align-items: center;
    display: flex;
    border-bottom: 1px #ededed solid;
    border-right: 1px #ededed solid;
}

.user-header ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    height: 60px;
}

.user-header ul li {
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-header ul li svg {
    display: flex;    
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.user-header ul li:hover svg {
    color: #008FF7!important;
}

.user-header ul li.active svg {
    color: #008FF7!important;
}